<% include ../views/header.ejs %>
<div class="content">
    <h1>Вхід до кабінету аваркома</h1>
    <div class="demo">
        <div class="auth-form">
            <div id="error"></div>
            <form action="/auth" method="post">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" placeholder="Мобільний телефон" name="username" class="form-control" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="password" placeholder="Пароль" name="password" class="form-control" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="submit" class="btn btn-primary" value="Увійти">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../views/footer.ejs %>
